/*  your css code here. If applicable */
.box {
		background-color: lightblue;
		border: 2px solid black;
		width: 300px;
		height: 300px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		align-items: center;
	}
.txt{
	font:purple;
	font-size:1.5em;
	
}